DASH_LICENSE=add_your_dashboard_licence_here
MDCB_LICENSE=add_your_mdcb_licence_here
GATEWAY_VERSION="v5.8.0"
DASHBOARD_VERSION="v5.8.0"
MDCB_VERSION="v2.12.0"
PUMP_VERSION="v1.16.0"

KONG_LICENSE_DATA=add_your_kong_enterprise_licence_here
KONG_VERSION="3.16.0.0"

# Which stacks scripts/compose.sh brings up/down. true/false per stack.
ENABLE_NGINX=true
ENABLE_SSO=false
ENABLE_CONTROL_PLANE=true
ENABLE_DATA_PLANE=false
ENABLE_OAUTH2=false
ENABLE_KONG=false
